<!-- Digg Button -->
<script type="text/javascript">
  (function() {
    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://widgets.digg.com/buttons.js';
    s1.parentNode.insertBefore(s, s1);
  })();
</script>
<a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url={{ site.root_url | append:page.url | append:"&amp;title=" | append:page.title }}">
  <span style="display:none">
    {{ page.description }}
  </span>	
</a>
