<div class="span5 columns offset1">
  <img src="http://i.imgur.com/mWqbN.png" alt="Dublin JS logo">
  <p>The official home of the Dublin JavaScript Group</p>
  <p></p>
  <p>Join us in the <b>#dublinjs</b> channel on the <b>freenode</b> IRC server</p>
  <div class="social">
    <p>{% include twitter_follow_btn.html %}</p>
    <p>{% include tweet_btn.html %}</p>
    <p>{% include facebook_like_btn.html %}</p>
    <p>{% include google_plus_btn.html %}</p>
    <p>{% include reddit_submit_btn.html %}</p>
    <p>{% include digg_btn.html %}</p>
    <p>{% include better_js_docs.html %}</p>
  </div>
</div>
