
<div class="span3 sidebar">
  <h1 class="logo"><a href="/">dublin<span>JS</span></a></h1>
  <p>The official home of the Dublin JavaScript Group</p>
  <p></p>
  <p>Join us in the <b>#dublinjs</b> channel on the <b>freenode</b> IRC server</p>
  <div class="social">
    <p>{% include twitter_follow_btn.html %}</p>
    <p>{% include tweet_btn.html %}</p>
    <p>{% include facebook_like_btn.html %}</p>
    <p>{% include google_plus_btn.html %}</p>
    <div class="recent_posts">
        <h2>Recent Meetups</h2>
        {% for post in site.posts limit:5 %}
          <div>
            <h5 class="inline">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h5>
          </div>
        {% endfor %}
      </div>
  </div>
</div>

